<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-autowire="byName" default-lazy-init="false">

    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql:///kkb"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean>
    <!-- SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入DataSource-->
        <property name="dataSource" ref="dataSource"></property>
        <!-- 设置别名扫描包路径 -->
        <property name="typeAliasesPackage" value="com.kaikeba.entity"></property>
        <!-- 注入mybatis的全局配置文件路径 -->
        <!--<property name="configLocation" value="mybatis/sql-map-config.xml"></property>-->
    </bean>
    <!-- 配置Mapper代理对象方式一：MapperFactoryBean -->
    <!--<bean id="mapperFactoryBean" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
        <!--&lt;!&ndash; 注入目标接口类 &ndash;&gt;-->
        <!--<property name="mapperInterface" value="com.kaikeba.mapper.AccountMapper"></property>-->
    <!--</bean>-->
    <!-- 配置Mapper代理对象方式二：MapperScanConfigurer -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注意：不要配置SQLSessionFactory -->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
        <!-- 指定需要生成代理的所在接口的包名 -->
        <property name="basePackage" value="com.kaikeba.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
</beans>